// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);

  img {
    filter: invert(1);

    &.invertable {
      filter: invert(0);
    }
  }
}

body[theme="dark"] {
  @include dark-appearance;
}


@media (prefers-color-scheme: dark) {
  body[theme="dark"] {
    @include dark-appearance;
  }
}

// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706

html {
  height: 100%;
}

html,
body {
  background: white;
}


body {
  color: black;
  background: white;
  margin: 0;
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 2rem;
  min-height: 100%;
  overflow-wrap: break-word;

  // =================== header ===
  header {
    background: black;
    color: white;
    padding: 2rem 2rem 2rem 2rem;

    nav {
      align-content: left;

      a {
        display: inline-block;
        margin-right: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
        background-color: white;
        color: black;
        font-weight: bolder;
        text-decoration-thickness: 0.5rem;
        text-underline-offset: 30%;
      }
    }

    div.top-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-basis: 600px;
      flex-flow: wrap;
      max-width: 67rem;

      p.breadcrums {
        display: block;
        // font-weight: bolder;
        text-align: left;


        a {
          color: white;
          text-decoration-thickness: 0.25rem;
          text-underline-offset: 30%;
        }
      }

      p.post-meta {
        text-align: right;
        display: block;
        background-color: black;
        color: white;


        ::before {
          content: "░░ ";
        }
      }
    }

    h1 {
      line-height: 3rem;
      display: block;
      background-color: black;
      color: white;

    }

    h1.tag-title {
      text-transform: capitalize;
    }

    h1.category-title {
      text-transform: capitalize;
    }
  }

  // =================== main ===
  main {
    padding: 2rem;
    line-height: 2rem;

    max-width: 70rem;

    a {
      text-underline-offset: 30%;
      color: black;
      text-decoration-thickness: 0.25rem;
      text-underline-offset: 20%;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0rem;
      line-height: 3rem;
      font-family: monospace;
      display: block;
    }

    h2::before {
      content: "█░░░░ ";
    }

    h3::before {
      content: "██░░░ ";
    }

    h4::before {
      content: "███░░ ";
    }

    h5::before {
      content: "████░ ";
    }

    h6::before {
      content: "█████ ";
    }

    p {
      // margin: 1rem 0;
      margin: 0rem 2rem 2rem 0rem;


    }

    li {
      // margin: 0.4rem 0;
      margin: 0rem 2rem 1rem 0rem;
    }

    li::marker {
      // color: white;
      content: "░ ";
      // padding-left: 1rem;
    }

    ol,
    ul {
      margin-left: 0rem;
      margin-block-start: 1rem;
      margin-block-end: 1rem;
    }

    code {
      color: white;
      background: black;
    }

    pre {

      background-color: white !important;

      code {
        display: block;
        overflow-x: auto;
        padding: 2rem;
      }
    }

    blockquote {
      font-style: italic;
      border-left: 1rem solid black;
      margin: 0rem 0rem 2rem 0rem;
      padding-left: 1rem;

      p {
        margin: 0;
        padding: 0rem;
      }
    }

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }


    .notfound-error {
      display: flex;
      flex-direction: row;
      align-content: center;


      .notfound-code {
        display: block;
        text-align: center;
        padding: 1rem;
        background: black;
        color: white;
      }

      .notfound-message {
        display: block;
        text-align: left;
        padding: 1rem;
        margin: 1rem;
        // background: black;
        // color: white;

      }

    }

    .item {
      display: inline-block;
      background-color: black;
      color: white;
      margin: 1rem;
      padding: 1rem;

      a {
        color: white;
      }

    }

    .post-item {
      margin-bottom: 3rem;


      .post-time {
        font-weight: normal;
      }

      .post-title {
        font-weight: bold;
        text-decoration-thickness: 6px;
        line-height: 2rem;

      }

      .post-description {
        display: block;
        padding-left: 1rem;
        border-left: 0.5rem solid black;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

    }
  }

  // =================== fotter ===
  footer {
    background: black;
    color: white;


    a {
      display: inline-block;
      padding: 1rem;
      margin: 1rem;
      background-color: white;
      color: black;
      text-decoration-thickness: 0.5rem;
      text-underline-offset: 30%;
    }

  }

}





hr {
  margin: 2rem 0;
}




*:target {
  background: yellow;
}

.w {
  max-width: 100vw;
  margin: 0 auto;
}

hr {
  text-align: center;
  border: 0;

  &:before {
    content: '/////'
  }

  &:after {
    content: attr(data-content) '/////'
  }
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 1rem;
}

.footnote-definition {
  padding: 0 1rem;

  &:target {
    background: yellow;
    color: #212121;
  }

  p {
    display: inline;
  }
}

nav,
.taxonomies {
  text-align: left;
}

.discussion-info {
  display: block;
  color: black;
  background: white;
  filter: invert(1);

  padding: 1rem;

  .email-box {
    filter: invert(1);
    color: black;
    background: white;

  }

}

.page-post-description {

  max-width: 70rem;
}