<html lang="en">{{ partial "head-part" . }}

<body class="container mx-auto  max-w-5xl mt-10">
  <article class="h-entry m-10 mx-14">
    {{ block "header" . }}
    <header class="my-10">
      <h1 class="blocked p-name  text-7xl font-black my-10">
        <a href="{{.Permalink}}" class="page-link simple-link u-url ">{{.Title}}</a>
      </h1>
    </header>
    {{ end }}
    {{ block "main" . }} {{ end }}
  </article>
  {{ block "footer" . }} {{ partial "footer-simple" . }} {{ end }}
</body>

</html>