{{ define "main" }}
<hr class="hr-bold-black" />

<div class="flexer">
  {{ partial "time" . }}
  <div class="tags flexer m-l-1">
    {{ range $tag := .Params.tags }}
    <a href="/tags/{{.}}" class="tag blocked m-r-1 ph1 p-category">{{.}}</a>
    {{ end }}
    {{ range $cat := .Params.Categories }}
    <a href="/categories/{{.}}" class="category blocked m-r-1 pc1 p-category">{{.}}</a>
    {{ end }}
  </div>
  <label> Author: <a rel="author" class="p-author h-card person" href="/about/me">Perma</a></label>
</div>
<main class="e-content">{{ .Content }}</main>
<aside>
  <p>Comment section? I Have none! But I like emails: <a class="u-email"
      href="mailto:prma.dev@protonmail.com">prma.dev@protonmail.com</a></p>
</aside>
{{ end }}