@tailwind base;
@tailwind components;
@tailwind utilities;

.sunrise::before {
  display: contents;
  content: "⍜";
}

.sunrise:hover::before {
  display: contents;
  content: "⍛";
}

.person::before {
  display: contents;
  content: "⚇ ";
}

.language::before {
  display: contents;
  content: "⨟ ";
  font-weight: bold;
}

.person,
.language {
  text-decoration: underline dotted black 0.1rem;
  text-underline-offset: 0.5rem;
}

.sun:hover::before {
  display: contents;
  content: "◉";
  padding-right: 10px;
}

.sun::before {
  display: contents;
  content: "○";
  padding-right: 10px;
}

@layer components {
  .underlined {
    @apply underline underline-offset-2 decoration-2 hover:decoration-4 hover:underline-offset-4 transition-all;
  }

  .card {
    @apply shadow hover:shadow-xl transition-all;
  }

}