<!DOCTYPE html>
<html lang="en">
{{ partial "head-part" . }}

<body class="container mx-auto max-w-5xl bg-white text-black">
  <section class="p-feed my-40 mx-5">
    <hgroup class="my-16 flex justify-between">
      <h2 class="text-4xl font-black">Long</h2>
      <div class="place-self-center">
        <a class="text-xl font-bold p-2" href="/posts/index.xml">ATOM</a>
        <a class="text-xl font-bold p-2" href="/posts/feed.json">JSONFeed</a>
      </div>
    </hgroup>
    {{ partial "categorylisting" (.Site.Taxonomies.categories.Get "long") }}
  </section>
  <section class="p-feed my-40 mx-5">
    <hgroup class="my-16 flex justify-between">
      <h2 class="text-4xl font-black ">Daily</h2>
      <div class="place-self-center">
        <a class="text-xl font-bold p-2" href="/daily/index.xml">ATOM</a>
        <a class="text-xl font-bold p-2" href="/daily/feed.json">JSONFeed</a>
      </div>
    </hgroup>
    {{ partial "categorylisting" (.Site.Taxonomies.categories.Get "daily") }}
    <section class="p-feed my-40 mx-5">
      <hgroup class="my-16 flex justify-between">
        <h2 class="text-4xl font-black ">Recommendations</h2>
        <div class="place-self-center">
          <a class="text-xl font-bold p-2" href="/recommendations/index.xml">ATOM</a>
          <a class="text-xl font-bold p-2" href="/recommendations/feed.json">JSONFeed</a>
        </div>
      </hgroup>
      {{ partial "categorylisting" (.Site.Taxonomies.categories.Get "recommendations") }}
    </section>
    {{ block "footer" . }}
    {{ partial "footer-simple" . }}
    {{end}}
</body>

</html>