<hgroup>
  <h2>Softwares</h2>
  <p>These are the softwares that I use.</p>
</hgroup>
<p> <span class="opacity-50">Low Opacity</span> means that it is used as a fallback option.</p>
<dl>
  {{ range $Index, $Item := .Site.Data.uses.Software }}
  {{ $ID := (strings.ToLower (strings.Replace ( strings.Replace $Item.name " " "_" ) "/" "_")) }}
  <dt id="{{ $ID }}" class="{{ if $Item.as_fall_back }}opacity-50{{end}} mt-4"><a href="{{ $Item.url }}"
      class="bg-black p-2 text-white font-black">{{ $Item.name }}</a></dt>
  <dd class="{{ if $Item.as_fall_back }} opacity-50 {{end}}">
    <dl class="border-l-2 mx-4 p-4 ">
      <dt>as</dt>
      <dd class="ml-16 font-bold">{{ $Item.application }}</dd>
      <dt>for</dt>
      <dd class="ml-16 font-bold">{{ if eq $Item.platform "*" }}Everything{{else}}{{ $Item.platform }}{{end}}</dd>
      {{ if not ( eq $Item.notes "" )}}
      <dt>note</dt>
      <dd class="ml-16 font-bold">{{ $Item.notes }}</dd>
      {{end}}
    </dl>
  </dd>
  {{end}}
</dl>

<hgroup>
  <h2>Hardware</h2>
  <p>These are the Hardwares that I use.</p>
</hgroup>
<p> <span class="opacity-50">Low Opacity</span> means that it is used as a fallback option.</p>
<dl>
  {{ range $Index, $Item := .Site.Data.uses.Hardware }}
  {{ $ID := (strings.ToLower (strings.Replace ( strings.Replace $Item.name " " "_" ) "/" "_")) }}
  <dt id="{{ $ID }}" class="{{ if $Item.as_fall_back }} opacity-50 {{end}} mt-4"><a
      class="bg-black p-2 text-white font-black" href="{{ $Item.url }}">{{ $Item.name }}</a>
  </dt>
  <dd class="{{ if $Item.as_fall_back }} opacity-50 {{end}}">
    <dl class="border-l-2 mx-4 p-4">
      <dt>as</dt>
      <dd class="ml-16 font-bold">{{ $Item.application }}</dd>
      {{ if not ( eq $Item.notes "" )}}
      <dt>note</dt>
      <dd class="ml-16 font-bold">{{ $Item.notes }}</dd>
      {{end}}
    </dl>
  </dd>
  {{end}}
</dl>
<hgroup>
  <h2>Miscellaneous</h2>
  <p>The rest of things that I use.</p>
</hgroup>
<p> <span class="opacity-50">Low Opacity</span> means that it is used as a fallback option.</p>
<dl>
  {{ range $Index, $Item := .Site.Data.uses.Misc }}
  {{ $ID := (strings.ToLower (strings.Replace ( strings.Replace $Item.name " " "_" ) "/" "_")) }}
  <dt class="{{ if $Item.as_fall_back }} opacity-50 {{end}}" id="{{$ID}}"
    class="{{ if $Item.as_fall_back }} opacity-50 {{end}} mt-4"><a class="bg-black p-2 text-white font-black"
      href="{{ $Item.url }}">{{ $Item.name }}</a>
  </dt>

  <dd class="{{ if $Item.as_fall_back }} opacity-50 {{end}}">
    <dl class="border-l-2 mx-4 p-4">
      <dt>as</dt>
      <dd class="ml-16 font-bold">{{ $Item.application }}</dd>
      {{ if not ( eq $Item.notes "" )}}
      <dt>note</dt>
      <dd class="ml-16 font-bold">{{ $Item.notes }}</dd>
      {{end}}
    </dl>
  </dd>
  {{end}}
</dl>